<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2000, 2020, Oracle and/or its affiliates.

  Licensed under the Universal Permissive License v 1.0 as shown at
  http://oss.oracle.com/licenses/upl.
-->
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="coherence" type="Tangosol.Config.CoherenceConfigHandler, Coherence.Core"/>
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="level" value="ALL" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>
    </logging>
  </common>
  <coherence>
    <cache-config>assembly://Coherence.Core.Tests/Tangosol.Resources/s4hc-cache-config.xml</cache-config>
    <pof-config>assembly://Coherence.Core.Tests/Tangosol.Resources/s4hc-test-config.xml</pof-config>
    <coherence-config>assembly://Coherence.Core.Tests/Tangosol.Resources/s4hc-test-coherence.xml</coherence-config>
    <property name="coherence.proxy.port1" value="9099"/>
    <property name="coherence.serializer" value="pof"/>
  </coherence>
  <appSettings>
    <add key="cacheName" value="dist-extend-direct"/>
    <add key="cacheNameTemp" value="dist-extend-direct-temp"/>
  </appSettings>
</configuration>