# Copyright 2020 Oracle Corporation and/or its affiliates.  All rights reserved.
# Licensed under the Universal Permissive License v 1.0 as shown at
# http://oss.oracle.com/licenses/upl.

# ---------------------------------------------------------------------------
# Coherence .NET Extend Client GitHub Actions CI build.
# ---------------------------------------------------------------------------

name: CI Build

on:
  workflow_dispatch:
  schedule:
    - cron: "0 2 * * *"
  push:
    branches:
    - main
    - v14.1.1.0-net-core
  pull_request:
    types:
      - opened
      - committed
    branches:
    - main
    - v14.1.1.0-net-core

jobs:
  build:
    name: Build on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Build
    - name: Build
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore

  test-linux:
    name: Test on Linux against Coherence ${{ matrix.coherence_version }}
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        coherence_version: [14.1.1-0-3, 20.12.1, 21.06-SNAPSHOT]

    steps:
    - name: Checkout
      uses: actions/checkout@v2

    # Set up Java 11
    - name: Set up Java 11
      uses: actions/setup-java@v1
      with:
        java-version: '11'

    # Install SSL certificates
    - name: Install SSL certificates
      run: |
        sudo cp tests/Coherence.Core.Tests/Config/testcert.pem /usr/local/share/ca-certificates/testcert.crt
        sudo cp tests/Coherence.Core.Tests/Net/Ssl/CA.cer /usr/local/share/ca-certificates/CA.crt
        sudo cp tests/Coherence.Core.Tests/Net/Ssl/Server.cer /usr/local/share/ca-certificates/Server.crt
        sudo update-ca-certificates
        
    # Build
    - name: Build
      run: |
        dotnet restore
        dotnet build --configuration Release --no-restore

    # Build test server
    - name: Build test server
      run: |
        pushd tests/test-server
        mvn clean install -s .mvn/settings.xml -Drevision=${{ matrix.coherence_version }}
        popd

    # Start test server
    - name: Start test server
      run: |
        pushd tests/test-server
        mvn exec:exec -s .mvn/settings.xml -Drevision=${{ matrix.coherence_version }} &
        sleep 30
        popd

    # Run Tests
    - name: Run Tests
      run: dotnet test --configuration Release --no-restore
